#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config RADIO_DCF1
	bool "DCF1 Time Signal Receiver"
	default n
	depends on CLOCK_MONOTONIC
	---help---
		Enable support for the DCF1 time signal receiver module.
if RADIO_DCF1

config DEBUG_DCF1_MEASUREMENT
	bool "Enable debug output for measurement stage"
	default n

config DEBUG_DCF1_DECODE
	bool "Enable debug output for decoding stage"
	default n

config DEBUG_DCF1_RECEIVE
	bool "Enable debug output for reception stage"
	default n

endif
